{% extends "base.html" %}

{% block title %}Desarrollador{% endblock %}

{% block body_class %}desarrollador-page{% endblock %}

{% block content %}
<div class="developer-hero-container">
    <div class="card developer-card">
        <img 
            src="{{ url_for('static', filename='img/marce.jpg') }}" 
            alt="Foto de Marce" 
            class="rounded-circle shadow developer-img"
        >

        <h2 class="developer-title">Marcelo Prieto</h2>
        <p class="developer-text">
            Diseñador y desarrollador de esta página web.
        </p>
        <p class="developer-contact">
            Contacto:
            <a 
                href="https://webmop.onrender.com/" 
                target="_blank" 
                class="developer-link"
            >
                https://webmop.onrender.com/
            </a>
        </p>
    </div>
</div>
{% endblock %}
